node_modules
./yarn.lock
.DS_Store
.vscode/
dist/
build/
.env
.env.local
.env.*.local
.idea/
*.iml
out/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock